//--------- Start Banner Area -------------//
.parallax-mirror {
    max-height: 900px;
}

.home-banner-area {
    @media (max-width: 425px) {
        max-height: 480px;
    }

    .fullscreen {
        height: 900px;

        @include media-breakpoint-down (lg) {
            height: 700px;
        }
    }

    .overlay {
        background: rgba($title-color, 0.7);
    }

    .banner-content {
        margin-top: 25%;

        @media (max-width: 991px) {
            margin-top: 37%;
            text-align: center;
        }

        @media (max-width: 767px) {
            margin-top: 50%;
            text-align: center;
        }

        h1 {
            color: $white;
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 20px;

            @media (max-width: 767px) {
                font-size: 40px;
            }

            @media (max-width: 425px) {
                font-size: 35px;
            }

            br {
                @include media-breakpoint-down (md) {
                    display: none;
                }
            }
        }

        h4 {
            color: $primary-color;
        }

        .primary-btn {
            background: $white;
            border: 1px solid $white;
            color: $title-color;
            margin-top: 40px;

            &:hover {
                background: $primary-color;
                color: $white;
                border: 1px solid $primary-color;
            }
        }
    }
}

.banner-area {
    background: url(../img/common-banner.jpg) no-repeat;
    background-size: cover;

    .banner-content {
        min-height: 500px;

        @media (max-width: 991px) {
            padding-top: 100px;
        }
    }

    .overlay-bg {
        background: rgba($black, .5);
    }

    h1 {
        font-size: 50px;
        margin-bottom: 20px;

        @media(max-width: 768px) {
            font-size: 35px;
        }
    }

    p {
        margin-bottom: 0px;
        color: $white;
    }
}

//--------- End Banner Area -------------//
.top-section-area {
    #imaginary_container {
        background: #fff;
        padding: 24px;
    }
}

.top-section-area {
    .stylish-input-group .form-control {
        border-right: 0;
        box-shadow: 0 0 0;
        border-color: #eee;
        background-color: $offwhite;
    }

    .input-group-addon {
        background-color: $offwhite !important;
        border-color: #eee;
    }

    .stylish-input-group button {
        border: 0;
        background: transparent;
    }

    input {
        font-size: 14px;
    }
}




/* Start Home Blog css
=========================================================================================== */

.ibrahim-project-area {
    background: $offwhite;
    padding-bottom: 100px;

    @media (max-width: 991px) {
        padding-bottom: 50px;
    }

    .home-blog-left {
        @media (max-width: 991px) {
            margin-bottom: 70px;
        }

        h2 {
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 30px;

            @media (max-width: 767px) {
                font-size: 30px;
                line-height: 40px;
            }
        }

        p {
            margin-bottom: 0px;
        }

        .primary-btn2 {
            margin-top: 35px;
        }
    }
}

.single-blog {
    margin-bottom: 30px;

    .thumb {
        overflow: hidden;

        img {
            width: 100%;
            @include transition();
        }
    }

    .single-blog-info {
        padding: 35px 30px;
        background: $white;
    }

    h4 {
        font-size: 20px;
        line-height: 30px;
        margin-top: 15px;
        margin-bottom: 25px;
        @include transition();
    }

    a {
        color: $black;
    }

    .tag {
        margin-bottom: 0px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;

        span {
            display: inline-block;
            margin-right: 10px;
            position: relative;
            padding-right: 20px;

            &:after {
                content: '|';
                position: absolute;
                top: 0px;
                right: 4px;
                color: $text-color;
            }

            &:last-child {
                &:after {
                    content: none;
                }
            }
        }
    }

}


/* Home Blog css End
=========================================================================================== */


/* Start CTA Area css
============================================================================================ */
.cta-area {
    position: relative;
    background: $offwhite;
    text-align: center;
    color: #fff;
    padding: 118px 0px;

    @media (max-width: 991px) {
        padding: 80px 0px;
    }

    h1 {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 60px;

        @media (max-width: 767px) {
            font-size: 30px;
        }
    }

    p {
        margin-bottom: 20px;
    }

    .form-control {
        background: #fff;
        height: 60px;
        border: 0px;
        border-radius: 0px;
        padding: 0 20px;
        font-size: 14px;

        &:focus {
            box-shadow: none;
        }
    }

    .primary-btn {
        line-height: 58px;
    }

    .info {
        color: $title-color;
        min-width: 150px;
        position: absolute;

        .error {
            color: $primary-color;
        }
    }
}

/* End CTA Area css
============================================================================================ */